.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.mat-toolbar {
  background-color: rgb(197, 197, 197); // Change the background color to blue
  color: white; // Change the text color to white
}

.main-body {
  background-color: rgb(197, 197, 197);
}

.parrent-body {
  background-color: rgb(197, 197, 197);
  height: 100%;
}
